@media (max-width: 1920px){
	.content{
		padding: 20px 20px;
	}
}
@media (max-width: 767px){
	.content{
		padding: 20px 0 ;
	}
	.page-header-fixed{
		padding-top: 50px;
	}
	h2{
		font-size: 24px;
	}
	.pace-progress{
		top: 55px;
	}
	.pace .pace-activity{
		top: 56px;
	}
	.row > [class*="col-"]{
		padding: 0;
	}
	.row{
		margin: 0;
	}
}
.pagination > li > span{
	color: #707478;
	cursor: not-allowed;
}
.pagination > li > span:focus,.pagination > li > span:hover{
	color: #707478;
}