@media (max-width: 1920px){
	.content{
		padding: 20px 20px;
	}
}
@media (max-width: 767px){
	.content{
		padding: 20px 0 ;
	}
	.page-header-fixed{
		padding-top: 50px;
	}
	h2{
		font-size: 24px;
	}
	.pace-progress{
		top: 55px;
	}
	.pace .pace-activity{
		top: 56px;
	}
	.row > [class*="col-"]{
		padding: 0;
	}
	.row{
		margin: 0;
	}
}
.pagination > li > span{
	color: #707478;
	cursor: not-allowed;
}
.pagination > li > span:focus,.pagination > li > span:hover{
	color: #707478;
}
.list-group{}
.list-group-item{border-left: none 0; border-right: none 0;}
.list-onclick .list-group-item{ cursor:pointer;}
.list-onclick .list-group-item:hover{ background-color: #dff0d8;}
.list-group-item:first-child{ border-top-left-radius:0; border-top-right-radius:0;}
.list-group-item:last-child{ border-bottom-left-radius:0; border-bottom-right-radius:0;}
.list-group-item .list-group-item-heading{ font-weight: normal; color: #707478;}

.content-area{font-size: 120%; line-height: 150%;}

.datalist-group .list-group-item{ }
.datalist-num{ margin: 8px auto; color: #333;}
.datalist-num strong{color: #000;}
.datalist-group .datalist-date{ margin-bottom: 0;}
.datalist-group .datalist-date{ margin-bottom: 0;}
.datalist-group .badge{background-color: #dff0d8; color:#606060;font-size: 110%; font-weight:normal;}

.clients-info{}
.clients-info .col-xs-7{text-align: right;}

/*= home---------------------*/
.item-header{ padding-left: 15px; font-size: 150%; color: #708090;}
.content .item-header:first-child{ margin-top: 0;}
.index-show-area{ background-color: #fff; padding: 8px 0;}
.index-show-area .col-item{ text-align: center; border-left: 1px solid #c0c0c0;}
.index-show-area .col-item:first-child{border-left: 0 none;}
.index-show-area .col-item strong, .index-show-area .col-item span, .index-show-area .col-item small{ display: block; margin: 8px auto;}
.index-show-area .col-item .number{ font-size: 120%; font-weight: normal;}
.index-show-area .col-item .title{ color: #ABABAB; font-weight: normal;}
.index-show-area .col-item small{ color: #ABABAB; font-weight: normal;}

.agent_sum_month{ background-color: #fff;}
.agent_sum_month .month-total{ padding: 12px 0; font-size: 120%; text-align: center;}

.home-notices-list{ background-color: #fff;}
.home-notices-list ul{margin-bottom: 0px; }
.home-notices-list ul li{}
.more-link{ display: block; padding: 12px 0; text-align: center; }
.more-link:active{ background-color: #dff0d8;}
