= render 'shared/left_menu_item',
  :local => {:title => '首页',
  :class => 'fa-laptop'}
  
= render 'shared/left_menu_item',
  :local => {:title => '商户数据',
  :data =>  [['商户资料', clients_path],
  ['业务员', salesmen_path], 
  ['交易数据', trades_path], 
  ['清算数据',  clearings_path], 
  ['个人资料', home_profile_path]], 
  :class => 'fa-2x fa-gear (alias)' }
              
