/ .panel.panel-primary
/   .panel-heading
/     h4.panel-title 合作商基础信息
/   .panel-body
/     .row
/       h4 机构信息
/       table class='table table-hover'
/         tr
/           td 全称: #{@cur_trade_total["company"].name}
/           td 简称: #{@cur_trade_total["company"].short_name}
/         tr
/           td 地区:
/           td 经营地址:
/     .row
/       h4 联系信息
/       table class='table table-hover'
/         - @object.contacts.each do |cc|
/           tr
/             td 联系人角色: #{cc.roles}
/             td 联系人: #{cc.name}
/           tr
/             td 联系人手机: #{cc.tel}
/             td 邮箱:
/           tr
/             td 地址: 
/     /
/     .row
/       h4 业务信息
/       table class='table table-hover'
/         tr
/           td 合作形式: #{@object.cooperation_type}
/           td 合作日期: #{@object.cooperation_date}
/         tr
/           td 状态
/           td 开通T0: #{if @object.t0_enabled then '是' else '否'}
/         tr
/           td 合作收单类型: #{@object.bank_biz_types}
/           td 合作区域: #{@object.cooperation_location}
          
/     .row
/       h4  结算信息
/       table class='table table-hover'
/         tr
/           td 银行开户行: #{}
/           td 银行开户支行: #{}
/         tr
/           td 账户名: #{}
/           td 账户帐号: #{}             
/     .row
/       h4 财务信息
/       table class='table table-hover'
/         tr class='active'
/           td 保证金: #{@object.deposit}
/           td 待结算分润: #{@object.amounts_payable}

/     .row
/       h4 分润比例
/       .panel-body#sales_commission_content
