h1
  | Editing Agent
= render 'form'

#login_user
  = render 'login_user'

- @parent = @object  
#contacts_div
  = render 'contacts/contacts'

= link_to 'Show', @object
|  | 
= link_to 'Back', agents_path
