var cnt = 0;
var messages = [];
function load_status(){
  if (cnt >= messages.length) cnt = 0;
  var msg = messages[cnt];
  if (msg.indexOf(":")==0){
    if (msg.indexOf(":h1")==0) {
      msg = "<h1>" + msg.substring(msg.indexOf(":h1")+1) +"</h1>";
    } else if (msg.indexOf(":bar")==0) {
      msg = "<div>" + msg.substring(msg.indexOf(":bar")+1) + "</div>"+"<button class='btn btn-danger' style='width:50px;' >0</button>";
    } else if (msg.indexOf(":n")==0) {
      var msg_a=parseInt(msg.replace(/[^0-9]/ig,"")/1000);
      var msg_b=msg.replace(/[^0-9]/ig,"")-msg_a*1000;
      $("#dialog_messages button").last().width(msg_a+50);
      $("#dialog_messages button").last().text(msg_a+"/"+msg_b);
      msg ="";
      if (msg_a>=30) {
        $("#dialog_messages button").last().attr("class","btn btn-warning");
      };
      if (msg_a>=60) {
        $("#dialog_messages button").last().attr("class","btn btn-success");
      };
    }

  } else {
    msg = "<p>" + msg + "</p>";
  }
  cnt++;
  var d = $('#import_dialog').find('#dialog_messages');
  d.append(msg);
  d = d.get(0);
  d.scrollTop = d.scrollHeight;
}

if ($('#import_dialog').length == 0){
  $('body').append("<%=j render 'dialog' %>");
} else {
  $('#dialog_messages').html('');
}

$('#import_dialog').modal();
$('#import_dialog').on('hide.bs.modal', function (e) {
  clearInterval(my_process);
});

var my_process = setInterval(load_status, 1000);
var cnt = 0;
var messages = [
  ":h1 this line is a title.",
  "message is here...",
  ":bar process bar below.",
  ":n 15/119",
  ":n 20/119",
  ":n 34/119",
  ":n 50/119",
  ":n 75/119",
  ":n 119/119",
  "process end.",
  "some text here......."
];
